<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Webserver with Flask</title>
</head>
<body>
    <h1>Chickengrill</h1>
    <p>Das Informatikprojekt von Selina, Leonie, Sara und Sophia</p>

    <h3>Wie funktioniert unser Game?</h3>
    <p1>Unser Game ist ein Jump Game. Bei welchem du das Hühnchen mithilfe deiner Spacetaste in der Luft halten musst. <br>
       Dabei musst du allerdings den Hindernissen ausweichen.</p1>
</body>
</html>
